In [77]:
import os
import pandas as pd
import numpy as np
from pybaseball import batting_stats

In [78]:
START = 2003
END = 2023

In [79]:
batting = batting_stats(START, END, qual = 200)

In [80]:
batting.to_csv("batting.csv")

In [81]:
batting = batting.groupby("IDfg", group_keys = False).filter(lambda x: x.shape[0] > 1)

In [82]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN,11.9
5,15640,2022,Aaron Judge,NYY,30,157,570,696,177,87,...,118.4,246.0,0.609,404,0.169,0.287,NaN,NaN,NaN,11.3
12,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
1,1109,2003,Barry Bonds,SFG,38,130,390,550,133,65,...,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN,10.2
73,10155,2013,Mike Trout,LAA,21,157,589,716,190,115,...,NaN,0.0,NaN,0,0.200,0.266,NaN,NaN,NaN,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6538,45,2012,Rod Barajas,PIT,36,104,321,361,66,44,...,NaN,0.0,NaN,0,0.147,0.258,NaN,NaN,NaN,-2.4
6899,1698,2010,Gerald Laird,DET,30,89,270,299,56,40,...,NaN,0.0,NaN,0,0.166,0.252,NaN,NaN,NaN,-2.4
7056,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN,-3.1
6683,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,0.0,NaN,0,0.170,0.295,NaN,NaN,NaN,-2.9
945,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN,-3.4

In [83]:
def next_season(player):
    player = player.sort_values("Season")
    player["Next_WAR"] = player["WAR"].shift(-1)
    return player

batting = batting.groupby("IDfg", group_keys = False).apply(next_season)

In [84]:
batting[["Name", "Season", "WAR", "Next_WAR"]]

                    Name  Season  WAR  Next_WAR
5550     Alfredo Amezaga    2006  1.1       2.0
4991     Alfredo Amezaga    2007  2.0       1.2
5234     Alfredo Amezaga    2008  1.2       NaN
828      Garret Anderson    2003  5.1       0.8
2559     Garret Anderson    2004  0.8      -0.2
...                  ...     ...  ...       ...
3093        Ha-seong Kim    2023  4.4       NaN
1078  Vinnie Pasquantino    2022  1.5       0.0
3326  Vinnie Pasquantino    2023  0.0       NaN
2808        Seiya Suzuki    2022  2.1       3.2
1360        Seiya Suzuki    2023  3.2       NaN

[6775 rows x 4 columns]

In [85]:
null_count = batting.isnull().sum()

In [86]:
null_count

IDfg           0
Season         0
Name           0
Team           0
Age            0
            ...
xBA         6775
xSLG        6775
xwOBA       6775
L-WAR          0
Next_WAR    1202
Length: 321, dtype: int64

In [87]:
complete_cols = list(batting.columns[null_count == 0])

In [88]:
complete_cols

['IDfg',
 'Season',
 'Name',
 'Team',
 'Age',
 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'GDP',
 'SB',
 'CS',
 'AVG',
 'GB',
 'FB',
 'LD',
 'IFFB',
 'Pitches',
 'Balls',
 'Strikes',
 'IFH',
 'BU',
 'BUH',
 'BB%',
 'K%',
 'BB/K',
 'OBP',
 'SLG',
 'OPS',
 'ISO',
 'BABIP',
 'GB/FB',
 'LD%',
 'GB%',
 'FB%',
 'IFFB%',
 'HR/FB',
 'IFH%',
 'BUH%',
 'wOBA',
 'wRAA',
 'wRC',
 'Bat',
 'Rep',
 'Pos',
 'RAR',
 'WAR',
 'Dol',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'PH',
 'WPA/LI',
 'Clutch',
 'FB% (Pitch)',
 'FBv',
 'SL%',
 'SLv',
 'CB%',
 'CBv',
 'CH%',
 'CHv',
 'wFB',
 'wSL',
 'wCB',
 'wCH',
 'wFB/C',
 'wSL/C',
 'wCB/C',
 'wCH/C',
 'O-Swing%',
 'Z-Swing%',
 'Swing%',
 'O-Contact%',
 'Z-Contact%',
 'Contact%',
 'Zone%',
 'F-Strike%',
 'SwStr%',
 'BsR',
 'Def',
 'wSB',
 'UBR',
 'Age Rng',
 'Off',
 'Lg',
 'wGDP',
 'Pull%',
 'Cent%',
 'Oppo%',
 'Soft%',
 'Med%',
 'Hard%',
 'TTO%',
 'AVG+',
 'BB%+',
 'K%+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'LD+%',
 'GB%+',
 'FB%+',
 'HR/FB%+',
 'Pull%+',
 'Cent%+',
 'Oppo%+',
 'Soft%+',
 'Med%+',
 'Hard%+',
 'Events',
 'CStr%',
 'CSW%',
 'L-WAR']

In [89]:
batting = batting[complete_cols + ["Next_WAR"]].copy()

In [90]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,L-WAR,Next_WAR
5550,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,107,113,143,109,63,0,0.188,0.256,1.1,2.0
4991,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,101,112,109,113,75,0,0.175,0.227,2.0,1.2
5234,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,101,101,123,111,64,0,0.178,0.244,1.2,NaN
828,2,2003,Garret Anderson,ANA,31,159,638,673,201,119,...,101,80,90,99,109,0,0.164,0.252,5.1,0.8
2559,2,2004,Garret Anderson,ANA,32,112,442,475,133,98,...,103,75,78,106,98,0,0.176,0.270,0.8,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,27506,2023,Ha-seong Kim,SDP,27,152,538,626,140,100,...,99,85,117,106,82,424,0.233,0.293,4.1,NaN
1078,27676,2022,Vinnie Pasquantino,KCR,24,72,258,298,76,56,...,104,87,79,93,123,226,0.162,0.228,1.5,0.0
3326,27676,2023,Vinnie Pasquantino,KCR,25,61,231,260,57,31,...,102,88,87,91,121,202,0.179,0.253,0.2,NaN
2808,30116,2022,Seiya Suzuki,CHC,27,111,397,446,104,66,...,105,130,106,95,106,290,0.232,0.312,2.0,3.2
1360,30116,2023,Seiya Suzuki,CHC,28,138,515,583,147,90,...,109,92,90,93,115,392,0.204,0.283,2.9,NaN

In [91]:
batting.dtypes

IDfg          int64
Season        int64
Name         object
Team         object
Age           int64
             ...
Events        int64
CStr%       float64
CSW%        float64
L-WAR       float64
Next_WAR    float64
Length: 133, dtype: object

In [92]:
batting.dtypes[batting.dtypes == "object"]

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [93]:
batting["Dol"]

5550     $5.5
4991    $11.2
5234     $7.2
828     $22.0
2559     $3.4
        ...
3093    $35.0
1078    $11.7
3326     $0.4
2808    $16.8
1360    $25.4
Name: Dol, Length: 6775, dtype: object

In [94]:
del batting["Dol"]

In [95]:
batting["Age Rng"]

5550    28 - 28
4991    29 - 29
5234    30 - 30
828     31 - 31
2559    32 - 32
         ...
3093    27 - 27
1078    24 - 24
3326    25 - 25
2808    27 - 27
1360    28 - 28
Name: Age Rng, Length: 6775, dtype: object

In [96]:
del batting["Age Rng"]

In [99]:
batting["team_code"] = batting["Team"].astype("category").cat.codes

In [100]:
batting_full = batting.copy()
batting = batting.dropna()

In [101]:
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

rr = Ridge(alpha = 1)
split = TimeSeriesSplit(n_splits = 3)
sfs = SequentialFeatureSelector(rr, n_features_to_select = 28, direction = "forward", cv = split, n_jobs = 4)

In [103]:
removed_columns = ["Next_WAR", "Name", "Team", "IDfg", "Season"]
selected_columns = batting.columns[~batting.columns.isin(removed_columns)]

In [104]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
batting.loc[:, selected_columns] = scaler.fit_transform(batting[selected_columns])

In [105]:
sfs.fit(batting[selected_columns], batting["Next_WAR"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=Ridge(alpha=1), n_features_to_select=28,
                          n_jobs=4)

In [111]:
predictors = list(selected_columns[sfs.get_support()])

In [118]:
def backtest(data, model, predictors, start = 5, step = 1):
    all_predictions = []
    years = sorted(data["Season"].unique())
    for i in range(start, len(years), step):
        current_year = years[i]
        train = data[data["Season"] < current_year]
        test = data[data["Season"] == current_year]
        model.fit(train[predictors], train["Next_WAR"])
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index = test.index)
        combined = pd.concat([test["Next_WAR"], preds], axis = 1)
        combined.columns = ["actual", "prediction"]
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [119]:
predictions = backtest(batting, rr, predictors)

In [120]:
predictions.shape

(4128, 2)

In [121]:
from sklearn.metrics import mean_squared_error

mean_squared_error(predictions["actual"], predictions["prediction"])

2.728478069807641

In [122]:
def player_history(df):
    df = df.sort_values("Season")
        
    df["player_season"] = range(0, df.shape[0])
    df["war_corr"] = list(df[["player_season", "WAR"]].expanding().corr().loc[(slice(None), "player_season"),"WAR"])
    df["war_corr"].fillna(0, inplace=True)
    
    df["war_diff"] = df["WAR"] / df["WAR"].shift(1)
    df["war_diff"].fillna(1, inplace=True)
    df["war_diff"][df["war_diff"] == np.inf] = 1
    
    return df

batting = batting.groupby("IDfg", group_keys=False).apply(player_history)

In [123]:
def group_averages(df):
    return df["WAR"] / df["WAR"].mean()

In [124]:
batting["war_season"] = batting.groupby("Season", group_keys=False).apply(group_averages)

In [125]:
new_predictors = predictors + ["player_season", "war_corr", "war_season", "war_diff"]

In [126]:
predictions = backtest(batting, rr, new_predictors)

In [127]:
mean_squared_error(predictions["actual"], predictions["prediction"])

2.643270714902726

In [128]:
pd.Series(rr.coef_, index=new_predictors).sort_values()

Age             -2.722649
BABIP           -1.689872
WAR             -1.555868
ISO             -1.506555
BU              -1.191853
BB/K            -0.906323
Soft%           -0.666738
PH              -0.663153
war_diff        -0.652361
SO              -0.617258
wGDP            -0.497571
Bat             -0.491808
CB%             -0.419186
LD%             -0.170950
LD+%            -0.115268
SH              -0.107611
war_corr        -0.100919
player_season    0.008703
L-WAR            0.078680
HR/FB            0.289519
FB%+             0.306048
CS               0.332757
IFH%             0.378744
O-Contact%       0.513034
SB               0.645491
Med%+            0.683966
Oppo%            0.836510
Spd              0.916826
BB%              1.106683
IBB              1.447707
Hard%+           3.017353
war_season       3.461751
dtype: float64

In [129]:
diff = predictions["actual"] - predictions["prediction"]

In [130]:
merged = predictions.merge(batting, left_index=True, right_index=True)

In [131]:
merged["diff"] = (predictions["actual"] - predictions["prediction"]).abs()

In [137]:
df = merged[["IDfg", "Season", "Name", "WAR", "Next_WAR", "diff"]].sort_values(["diff"])

In [140]:
df[df["Name"] == "Matt Olson"]

       IDfg  Season        Name       WAR  Next_WAR      diff
621   14344    2021  Matt Olson  0.549020       3.2  0.491162
153   14344    2017  Matt Olson  0.372549       3.1  0.768783
2408  14344    2018  Matt Olson  0.424837       4.1  1.258431
4147  14344    2020  Matt Olson  0.261438       5.0  2.113886
976   14344    2019  Matt Olson  0.490196       0.6  2.117900
2146  14344    2022  Matt Olson  0.431373       6.7  4.225233